.mascot {
    height: 250px;
    width: auto;
    position: relative;
    top: 250px;
    border-radius: 8px;
}
.day-view {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 600px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.day-header {
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  border-bottom: dotted 2px black;
  vertical-align: middle;
  align-items: center;
}

.events {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

}

.event {
  display: flex;
  align-items: flex-start;
  width: 85%;
  gap: 10px;
  padding: 10px;
}

.event-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-title {
  font-size: 14px;
  font-weight: 500;
}

.extra-uitleg {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #666;
}

.extra-uitleg svg {
  width: 20px;
  height: 20px;
}

.lower-event-container {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 15%;
  gap: 10%;
}

.huiswerk-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.check-button {
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.check-button svg {
  width: 50px;
  height: 50px;
}